[Desktop Entry]
Name=quickWIN
Comment=Python rdesktop/samba frontend
Exec=/usr/bin/quickwin
Icon=/usr/share/pixmaps/quickwin.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;
StartupNotify=true
Name[en_AU]=quickWIN
Comment[en_AU.UTF-8]=Python rdesktop/samba frontend
